<!DOCTYPE html>
<html data-theme="light" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Navbar</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <nav class="bg-slate-900 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white text-lg font-semibold">Fitness Tracker</a>
      <div id="navigate">
        <a href="/meals" class="text-gray-300 hover:text-white ml-4">Meals</a>
        <a href="/exercises" class="text-gray-300 hover:text-white ml-4">Exercises</a>
        <a href="/users" class="text-gray-300 hover:text-white ml-4">Users</a>
        <a href="/profile" class="text-gray-300 hover:text-white ml-4">Profile</a>
        <a id="registerBtn" href="/register"
          class="bg-yellow-600 rounded-md py-2 px-3 text-gray-900 hover:text-white ml-4">Register</a>
        <a id="loginBtn" href="/login"
          class="bg-green-600 rounded-md py-2 px-3 text-gray-900 hover:text-white ml-4">Login</a>
        <button id="signoutBtn" class="btn btn-error ml-4" style="display: none;">Sign
          Out</button>
      </div>
    </div>
  </nav>
  <script>
    const registerBtn = document.getElementById('registerBtn');
    const loginBtn = document.getElementById('loginBtn');
    const signoutBtn = document.getElementById('signoutBtn');

    if (localStorage.getItem('username')) {
      registerBtn.style.display = 'none';
      loginBtn.style.display = 'none';
      signoutBtn.style.display = 'inline-block';
    } else {
      registerBtn.style.display = 'inline-block';
      loginBtn.style.display = 'inline-block';
      signoutBtn.style.display = 'none';
    }

    signoutBtn.addEventListener('click', () => {
      localStorage.removeItem('username');
      window.location.reload();
    });

    function signOut() {
      localStorage.removeItem('username');
      window.location("/");
    }
  </script>
</body>

</html>